<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_username">Email:</label>
    <input type="email" name="username" maxlength="254" required id="id_username">
    </div>
    
      <div>
        <label for="id_password">Password:</label>
    <input type="password" name="password" required id="id_password">
    </div>

    
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
</body>
</html>